{% include 'header.html' %}
    <div class="container">
        
        <form class="form" action="vender.php" method="GET">
            
        {% for produto in produtos %}
        
            <label>{{produto.nome}}:</label>
            <input type="number" name="{{produto.id}}"/><br/>
            
        {% endfor %}
        <input type="submit">
    </form>
    </div>

{% include 'footer.html' %}